.login-container {
  outline: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  display: grid;
  padding: 15px;
}

#close-modal-btn {
  border: nome;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

#close-modal-btn:hover {
  border: 5px solid $secondary-text-color;
  border-radius: 50%;
  background-color: $secondary-text-color;
  color: $white-text-color;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px #ff6b01;
}

.login-container-title {
  margin-bottom: 15px;
}

#login-email,
#login-password {
  margin-bottom: 15px;
  padding: 10px;
}

#loginBtn {
  margin-bottom: 15px;
  height: 35px;
  background-color: #ff6b01;
}

#login-google {
  margin-bottom: 15px;
}

#login-google::before {
  display: block;
  content: '';
  background-image: url('https://img.icons8.com/color/32/000000/google-logo.png');
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

#openSignUpModalBtn {
  height: 35px;
}

#signUp {
  height: 35px;
  margin-bottom: 15px;
}

#sign-email {
  margin-bottom: 15px;
  padding: 10px;
}

#sign-password {
  margin-bottom: 15px;
  padding: 10px;
}

.user-img {
  border-radius: 50%;
  margin-right: 15px;
}

.auth-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.signin-btn,
.sigout-btn {
  @include font($lh: 16px);
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
}

#userDetails {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.user-name {
  @include font($lh: 16px);
  text-transform: uppercase;
}

.user-email {
  @include font($lh: 16px);
}

#alreadyHaveAccount {
  height: 35px;
}
