.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 45px 0 45px 0;
  height: 230px;

  color: $white-text-color;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/background/background-mob.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 45px 75px 97px 71px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/background-tab.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/background-desk.jpg);
  }
}

.nav_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;

  @media screen and (max-width: 768px) {
    margin-bottom: 41px;
  }
}

.logo-header {
  display: flex;

  @media screen and (max-width: 768px) {
    // margin-right: 112px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    // margin-right: 303px;
    display: block;
  }

  @media screen and (min-width: 1024px) {
    // margin-right: 564px;
    display: block;
  }
}

.logo_text {
  font-size: 30px;
  line-height: 35px;
  color: $white-text-color;
  margin-left: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu {
  display: flex;
  // Authorization
  align-items: baseline;
}

.menu_item {
  position: relative;
}

.menu_item_slide {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 250ms ease-in-out;
}

.menu_item_slide.position {
  position: fixed;
  transform: translateX(375px);
  opacity: 0;
  transition: transform 250ms ease-in-out;
}

.menu_link {
  padding: 10px 0;
  cursor: pointer;

  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  color: $white-text-color;
  text-transform: uppercase;
}

.current::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 3px;

  background-color: $secondary-text-color;
}

.library-link {
  margin: 0 0 0 30px;
}

.search-wrap {
  display: flex;
  justify-content: center;

  position: relative;

  width: 280px;
  margin: 0 auto 22px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.search_input {
  width: 280px;
  height: 30px;
  padding: 4px 0;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid $white-text-color;

  background-color: transparent;

  color: $white-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  outline: none;

  &::placeholder {
    color: $white-text-color;
  }
  &:focus::placeholder {
    color: transparent;
  }

  &:hover,
  &:focus {
    border-bottom: 0.5px solid $secondary-text-color;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }
}

.search_button-icon {
  position: absolute;
  right: 0;
  bottom: 9px;
}

.is-hidden {
  display: none;
}

.btn {
  width: 130px;
  height: 44px;

  padding-top: 14px;
  padding-bottom: 12px;

  font-size: 12px;
  text-align: center;
  background-color: transparent;
  color: $white-text-color;
  text-transform: uppercase;
  border: 1px solid $white-text-color;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 136px;
  }

  &:hover,
  :focus,
  :active {
    border: 1px solid $secondary-text-color;
    background: $secondary-text-color;
    box-shadow: (0px 0px 40px $secondary-text-color);

    cursor: pointer;
  }
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn-watched {
  margin-right: 19px;
}

.header-library {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 45px 0 45px 0;
  height: 230px;

  color: $white-text-color;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/background/library-mob.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 45px 0 97px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/library-tab.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/library-desk.jpg);
  }

  & .current::after {
    width: 69px;
    left: 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/background-mob2x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/background-tab2x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024x),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/background-desk2x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/library-mob2x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/library-tab2x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024x),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/library-desk2x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.search-list {
  position: absolute;
  top: 30px;
  width: 100%;
  background: rgb(0 0 0 / 90%);
  box-shadow: 0 4px 6px #ffffff;
  border-radius: 0 0 10px 10px;
  padding-left: 7px;
  padding-bottom: 10px;
  overflow: hidden;
  text-align: left;
}

.search-item {
  padding: 5px;
  cursor: pointer;

  &:hover,
  :focus,
  :active {
    color: $secondary-text-color;
  }
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: $secondary-text-color;
  &:hover,
  :focus {
    color: #ffffff;
  }

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.swicher {
  position: absolute;
  // left: 50px;
  // top: 50px;
}

.bg {
  background: url(../images/background/bg3.png);
  background-position: top;
  background-size: 350px;
  padding-bottom: 60px;

  @media screen and (max-width: 1023px) {
    padding-top: 35px;
  }

  &.dark {
    background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 65%)),
      url(../images/background/webb-dark.png);
    background-position: top;
    background-size: 350px;
  }
}
