.modal-container {
  @media screen and (min-width: 320px) {
    // position: relative;
    width: 280px;
    max-height: 95vh;
    // min-height: 581px;
    // border: 1px solid #000000;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    width: 618px;
    min-height: 562px;
  }
  @media screen and (min-width: 1200px) {
    width: 882px;
  }
}
.btn-close {
  @media screen and (min-width: 320px) {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $white-text-color;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 9;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    &:hover {
      border: 5px solid $secondary-text-color;
      border-radius: 50%;
      background-color: $secondary-text-color;
      color: $white-text-color;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      box-shadow: 0 10px 20px #ff6b01;
    }
  }
}
// .svg-image {
//   fill: #000000;
// }
.modal__button-icon {
  fill: #000000;
}
.modal-info {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
.modal-info-title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
  }
  @media screen and (min-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }
}
.modal-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }
}
.modal-info-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    color: #000000;
  }
}
// .button-add {
//   @media screen and (min-width: 320px) {
//     width: 112px;
//     height: 44px;
//     border: 1px solid #000000;
//     border-radius: 5px;
//     margin-top: 21px;
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 16px;
//     /* or 133% */
//     // display: flex;
//     // align-items: center;
//     // text-align: center;
//     // justify-content: center;
//     text-transform: uppercase;
//     color: #000000;
//     background-color: transparent;
//   }
//   @media screen and (min-width: 768px) {
//     width: 125px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 136px;
//     margin-right: 15px;
//   }
// }

// .active {
//   @media screen and (min-width: 320px) {
//     width: 113px;
//     height: 44px;
//     background: $secondary-text-color;
//     border: none;
//     color: $white-text-color;
//   }
//   @media screen and (min-width: 768px) {
//     width: 125px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 136px;
//   }
// }
.button-add {
  @media screen and (min-width: 320px) {
    width: 112px;
    height: 44px;
    // display: flex;
    // flex-direction: column;
    border: 2px solid #ff6b01;
    border-radius: 5px;
    margin-top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    transition: all 0.2s;
    text-transform: uppercase;
    color: #000000;
    // color: #ff6b01;
    background-color: transparent;
    // padding: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 10px;
    width: 125px;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
    margin-right: 15px;
  }
}
.button-add:hover {
  @media screen and (min-width: 320px) {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px #ff6b01;
    width: 115px;
    height: 44px;
    background: #fff;
    border: 1px solid #ff6b01;
    // border: none;
    color: #ff6b01;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
  }
}
.button-add::after {
  content: '';
  // display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  // position: absolute;
  top: 0;
  left: 0;
  // z-index: -1;
  // transition: all 0.4s;
}
.button-add:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  // opacity: 0;
}
.button-add:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px #ff6b01;
}
.btn-animated {
  // animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.pressed {
  background-color: #ff6b01;
  // background-color: #f1a066;
  border: none;
  color: $white-text-color;
  // animation: moveInBottom 5s ease-out;
  // animation-fill-mode: backwards;
  @media screen and (min-width: 320px) {
    font-size: 8px;
  }
  // @media screen and (min-width: 768px) {
  //   font-size: 10px;
  // }

  @media screen and (min-width: 1200px) {
    font-size: 10px;
  }
}
.modal-card {
  position: relative;
  background-color: $white-text-color;
  padding: 48px 20px;

  @media screen and (min-width: 768px) {
    padding: 42px 30px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px;
    // position: relative;
  }
}

// .basicLightbox {
//   background: rgba(0, 0, 0, 0.25);
// }
table {
  table-layout: fixed;
  width: 100%;
}
th {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  /* identical to box height, or 133% */
  color: #8c8c8c;
  padding-bottom: 10px;
}
td {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  color: #000000;
  padding-bottom: 10px;
}
.info-table-vote_average {
  background-color: $secondary-text-color;
  color: $white-text-color;
  padding: 1px 10px;
  width: auto;
  height: 16px;
  border-radius: 5px;
}
.info-table-vote_count {
  background-color: $white-text-color;
  color: #000000;
  padding: 1px 10px;
  width: auto;
  height: 16px;
  border-radius: 5px;
}
.info-table-original_title {
  text-transform: uppercase;
}
.modal-image {
  @media screen and (min-width: 320px) {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    // background: lime;
    //   background-image: url('../images/Rect18.png');
  }
}
.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

//===== стили для дива инфо через флекс (надо два дива)===========
// .modal-info-item {
//   @media screen and (min-width: 320px) {
//     display: flex;
//     justify-content: space-between;

//     // width: 50%;
//     list-style-type: none;
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 16px;
//     /* identical to box height, or 133% */
//     margin-bottom: 20px;
//     color: #8c8c8c;
//   }
// }
// .modal-info-data {
//   @media screen and (min-width: 320px) {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 16px;
//     /* identical to box height, or 133% */
//     display: flex;
//     align-items: center;
//     color: #000000;
//     // margin-left: 70px;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-left: 85px;
//   }
// }
