.modal-container {
  @media screen and (min-width: 320px) {
    // position: relative;
    width: 280px;
    max-height: 95vh;
    // min-height: 581px;
    // border: 1px solid #000000;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    width: 618px;
    min-height: 562px;
  }
  @media screen and (min-width: 1200px) {
    width: 882px;
  }
}
.btn-close {
  @media screen and (min-width: 320px) {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $white-text-color;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 9;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    &:hover {
      border: 5px solid $secondary-text-color;
      border-radius: 50%;
      background-color: $secondary-text-color;
      color: $white-text-color;
    }
  }
}
// .svg-image {
//   fill: #000000;
// }
.modal__button-icon {
  fill: #000000;
}
.modal-info {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
.modal-info-title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
  }
  @media screen and (min-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }
}
.modal-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }
}
.modal-info-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    color: #000000;
  }
}
.button-add {
  @media screen and (min-width: 320px) {
    width: 112px;
    height: 44px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    // display: flex;
    // align-items: center;
    // text-align: center;
    // justify-content: center;
    text-transform: uppercase;
    color: #000000;
    background-color: transparent;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1200px) {
    width: 136px;
    margin-right: 15px;
  }
}

.active {
  @media screen and (min-width: 320px) {
    width: 113px;
    height: 44px;
    background: $secondary-text-color;
    border: none;
    color: $white-text-color;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
  }
}
.modal-card {
  position: relative;
  background-color: $white-text-color;
  padding: 48px 20px;

  @media screen and (min-width: 768px) {
    padding: 42px 30px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px;
    // position: relative;
  }
}
// .basicLightbox {
//   background: rgba(0, 0, 0, 0.25);
// }
table {
  table-layout: fixed;
  width: 100%;
}
th {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  /* identical to box height, or 133% */
  color: #8c8c8c;
  padding-bottom: 10px;
}
td {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  color: #000000;
  padding-bottom: 10px;
}
.info-table-vote_average {
  background-color: $white-text-color;
  color: #000000;
  padding: 1px 10px;
  width: auto;
  height: 16px;
  border-radius: 5px;
  &:hover,
  &:focus {
    background-color: $secondary-text-color;
    color: $white-text-color;
  }
}

.info-table-original_title {
  text-transform: uppercase;
}
.modal-image {
  @media screen and (min-width: 320px) {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    // background: lime;
    //   background-image: url('../images/Rect18.png');
  }
}
.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.pressed {
  background-color: #f1a066;
  border: none;
  color: $white-text-color;
  @media screen and (min-width: 320px) {
    font-size: 9px;
  }
  @media screen and (min-width: 768px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 11px;
  }
}
//===== стили для дива инфо через флекс (надо два дива)===========
// .modal-info-item {
//   @media screen and (min-width: 320px) {
//     display: flex;
//     justify-content: space-between;

//     // width: 50%;
//     list-style-type: none;
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 16px;
//     /* identical to box height, or 133% */
//     margin-bottom: 20px;
//     color: #8c8c8c;
//   }
// }
// .modal-info-data {
//   @media screen and (min-width: 320px) {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 16px;
//     /* identical to box height, or 133% */
//     display: flex;
//     align-items: center;
//     color: #000000;
//     // margin-left: 70px;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-left: 85px;
//   }
// }
