.modal-container {
  @media screen and (min-width: 320px) {
    width: 100%;
    max-height: 100vh;
    // min-height: 581px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #000000;
    overflow: auto;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    // display: flex;

    width: 882px;
    // height: 568px;
  }
}
.btn-close {
  @media screen and (min-width: 320px) {
    position: absolute;
    top: 36px;
    right: 20px;
    width: 44px;
    height: 44px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    top: 37px;
    right: 75px;
  }

  @media screen and (min-width: 1200px) {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    color: #000000;
    z-index: 9;
  }

  //   background-color: #ffffff;
  //   color: #ff6b01;
  //   fill: #000000;
}
// .svg-image {
//   fill: #000000;
// }
// .modal__button-icon {
//   fill: #000000;
// }

.modal-info {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
.modal-info-title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
  }
  @media screen and (min-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
  }
}
.modal-info-item {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: space-between;

    // width: 50%;
    list-style-type: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    margin-bottom: 20px;
    color: #8c8c8c;
  }
}
.modal-info-data {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    color: #000000;
    // margin-left: 70px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 85px;
  }
}
.modal-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }
}
.modal-info-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    color: #000000;
  }
}
.button-add {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  margin-top: 21px;
  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}

.active {
  width: 136px;
  height: 44px;
  background: #ff6b01;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}
.modal-card {
  background-color: #fff;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 75px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding: 30px;
    position: relative;
  }
}
.modal-image {
  @media screen and (min-width: 320px) {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    // background: lime;
    //   background-image: url('../images/Rect18.png');
  }
}
.movie-poster {
  width: 100%;
}
