.tns-outer {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.slider-container {
  position: relative;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  border: none;
  padding: 0;
  border-radius: 10px;
  @media screen and (min-width: 1024px) {
    width: 100%;
    padding: 15px 5px 35px 5px;
  }
}

.slider {
  border-radius: 5px;
}

.tns-item img {
  border-radius: 10px;
  height: 150px;
}
#tns1 {
  width: calc(536.333%);
}

button[data-controls='next'] {
  padding-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  transform: rotate(90deg);
  position: absolute;
  right: -10px;
  top: 110px;
  z-index: 10;
  color: #ff6b08;
  transition: all 250ms linear;
}

button[data-controls='prev'] {
  padding-top: 8px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  transform: rotate(-90deg);
  position: absolute;
  left: -10px;
  top: 110px;
  z-index: 10;
  color: #ff6b08;
  transition: all 250ms linear;
}

button[data-controls='next']:hover,
button[data-controls='prev']:hover {
  background-color: #ff6b08;
  color: #ffffff;
}

.tns-item {
  transform: scale(0.95);
  transition: all 250ms linear;
}

.tns-item:hover {
  transform: scale(1);
}

.slider-title {
  font-weight: 500;
  text-align: center;
  display: block;
  color: #8c8c8c;
  display: none;
  text-transform: uppercase;
  margin-bottom: 15px;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}
