.tns-outer {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.slider-container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 0;
  border: none;
  padding: 0;
  border-radius: 10px;
  background-color: #8c8c8c;
  @media screen and (min-width: 1024px) {
    margin-top: 15px;
    width: 1024px;
    border: 2px solid #ff6b01;
    padding: 5px;
  }
}

.slider {
  border-radius: 5px;
}

.tns-item img {
  border-radius: 10px;
  height: 150px;
}
#tns1 {
  width: calc(536.333%);
}
