.team-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161616;
  
    &__container {
      height: 100vh;
    }
  }
  .cards-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    height: 92vh;
    overflow-y: auto;
  
  }
  
  .cards-container .card {
    z-index: 2;
    position: relative;
    width: 270px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team__title {
    margin-top: 25px;
    position: relative;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  
  .imgBox {
    position: relative;
    width: 180px;
    height: 180px;
  }
  
  .contentBox {
    &__title {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin: 20px 0 10px;
      line-height: 1.1em;
    }
    &__subtitle {
      font-size: 12px;
      font-weight: 300;
      text-transform: initial;
    }
  }
  .social {
    position: absolute;
    bottom: 50px;
    display: flex;
  
    &__item {
      list-style: none;
      margin: 0 10px;
      opacity: 0.8;
    }
    &__link {
      color: #fff;
      font-size: 24px;
    }
  }
  
  @media screen and (min-width: 480px) {
    .team-section {
      max-width: 640px;
    }
  }
  @media screen and (min-width: 1032px) {
    .team-section {
      max-width: 960px;
    }
  }